* {
  background-color: rgb(214, 214, 214);
  max-width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgb(34, 34, 34);
}

.container {
  max-width: 100%;
  display: flex;
  align-items: center;
  margin: 20px;
  flex-direction: column;
}

.titulo {
  font-size: 20px;
  font-weight: 500;
  padding: 10px;
}

img {
  size: 50%;
}
